<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/jsf/composite">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/exam.css" rel="stylesheet">
<style>
    .error_div{
       width:74%;height:20px;text-align:left; margin: 0 auto;
        padding-left: 5px;
        padding-bottom: 2px;
        padding-left:85px;
    }
    .lab1{
        width:100px;
        font-size: 14px;
        color: #333;
    }

</style>
<body>
<div class="modal-body">
    <form  style="text-align: center" id="admin_passwd"  class="exam-form" action="admin_passwd" method="post">
        <input id="t_Id" type="hidden" th:value="${oneTeacher.id}">

            <span class="lab1">用户名称: &nbsp&nbsp</span>
            <input type="text" name="name" placeholder="用户名" th:value="${oneTeacher.tName}" style="width:70%;margin: 0px"  onblur="validateTest('name')" onkeyup="validateTest('name')" />
             <div class="error_div" id="namespan"></div>
            <span class="lab1">初始口令: &nbsp&nbsp</span>
            <input type="text" name="pass" placeholder="初始口令" th:value="${oneTeacher.tPass}"  style="width:70%;margin: 0px" onblur="validateTest('pass')" onkeyup="validateTest('pass')"/>
              <div class ="error_div" id="passspan"></div>
             <span class="lab1">真实姓名: &nbsp&nbsp</span>
            <input type="text" name="fullname" placeholder="真实姓名"  th:value="${oneTeacher.tRealName}" style="width:70%;margin: 0px"  onblur="validateTest('fullname')" onkeyup="validateTest('fullname')"/>
            <div  class ="error_div"  id="fullnamespan"></div>

            <input th:if="${oneTeacher.tIsAdmin==1}"  style="height: 20px;" type="checkbox" name="isadmin" checked />
            <input th:if="${oneTeacher.tIsAdmin!=1}"  style="height: 20px;" type="checkbox" name="isadmin"  />
            <span style="width:100px;height: 20px;text-align: center">管理员</span>
            <br />
            <input id="btn_change" type="button" class="btn btn-primary" value="修改" style="width:200px;margin-top: 10px;" />


    </form>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/layer/layer.js"></script>
<script>
    function validateTest(input_name){
        debugger
        var content = $("input[name='"+input_name+"']").val();
        var contentReg;
        switch (input_name){
            case "name":
                debugger

                if((content=="")||(content.length>10)){
                    debugger
                    $("input[name='name']").css('border','1px solid red');

                    $("#namespan").text("填写长度在10以内的中英文或数字");
                    $("#namespan").css('color',"red");
                    $("#namespan").css('font-size',"10px");
                    return false;
                }else{
                    debugger
                    $("#namespan").text("");
                    $("input[name='name']").css('border','1px solid #cccccc');
                    return true;
                }
                break;
            case "pass":
                contentReg =  /^[a-zA-Z0-9]{6,10}$/;
                if(!contentReg.test(content)){
                    debugger
                    $("input[name='pass']").css('border','1px solid red');
                    $("#passspan").text("请填写6-10位数字或字母");
                    $("#passspan").css('color',"red");
                    $("#passspan").css('font-size',"10px");
                    return false;
                }else{
                    debugger
                    $("input[name='pass']").css('border','1px solid #cccccc');
                    $("#passspan").text("");
                    return true;
                }
                break;
            case "fullname":
                contentReg = /^[\u4e00-\u9fa5_a-zA-Z]{1,15}$/;
                if(!contentReg.test(content)){
                    debugger
                    $("input[name='fullname']").css('border','1px solid red');
                    $("#fullnamespan").text("请填写15位以内的中英文");
                    $("#fullnamespan").css('color',"red");
                    $("#fullnamespan").css('font-size',"10px");
                    return false;
                }else{
                    debugger
                    $("input[name='fullname']").css('border','1px solid #cccccc');
                    $("#fullnamespan").text("");
                    return true;
                }
                break;
            default:break;
        }
    }
    $(document).ready(function () {
        $("#btn_change").click(function () {
            var Id = $(this).parent().children("#t_Id").val();
            var name = $("input[name='name']").val();
            var pass = $("input[name='pass']").val();
            var funname = $("input[name='fullname']").val();
            var admin ;
            var tatus = $("input[name='isadmin']").prop("checked");
            debugger;
            if(tatus==true){
                admin = 1;
            }else{
                admin = 0;
            }
            debugger
            if(validateTest("name")&&validateTest("pass")&&validateTest("fullname")){
                $.ajax({
                    type:'post',
                    url:'/updateTeacherById',
                    data:{
                        id:Id,
                        tName:name,
                        tPass:pass,
                        tRealName:funname,
                        tIsAdmin:admin,
                    },
                    success:function (data) {
                        if(data.status==200){
                           layer.alert();
                            layer.alert(data.message,{
                                btn:['确定']
                            },function () {
                                window.parent.location.href = "/admin_teacher"
                            });

                        }else{
                            layer.alert(data.message,{
                                icon:2,
                                skin:'layer-ext-moon',
                            })
                        }

                    },
                    error:function (data) {
                        layer.alert("用户名已被占用,请重新输入",{
                            icon:2,
                            skin:'layer-ext-moon',
                        })
                    }
                });
            }else{
                layer.alert("请根据提示信息填写",{
                    icon:2,
                    skin:'layer-ext-moon',
                })
            }
        });

    });

</script>
</body>
</html>