<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<!--<form method="post" action="savePaper" enctype="multipart/form-data">
    <input value="" name="multipartFile" type="file"/>
    <input value="提交" name="提交" type="button"/>
</form>-->

<!--学生登陆-->
<!--<form method="post" action="/submitStudentLogin">
    <label>
        <input value="" name="sSno" type="text"/>
    </label>
    <label>
        <input value="" name="sPass" type="text"/>
    </label>
    <input value="" name="submit" type="submit"/>
</form>-->

<!--教师登陆-->
<!--<form method="post" action="/submitTeacherLogin">
    <label>
        <input value="" name="tName" type="text"/>
    </label>
    <label>
        <input value="" name="tPass" type="text"/>
    </label>
    <input value="" name="submit" type="submit"/>
</form>-->

<!--管理员登陆-->

<form method="post" action="/submitAdminLogin">
    <label>
        <input value="" name="tName" type="text"/>
    </label>
    <label>
        <input value="" name="tPass" type="text"/>
    </label>
    <input value="" name="submit" type="submit"/>
</form>



</body>
</html>