<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form method="post" action="/uploadExamPaper" enctype="multipart/form-data">
    <label>
        <input value="" name="examName" type="text"/>
    </label>
    <input value="" name="multipartFile" type="file"/>
    <input value="提交" name="提交" type="submit"/>
</form>

<!--学生登陆-->
<!--<form method="post" action="/submitStudentLogin">
    <label>
        <input value="" name="sSno" type="text"/>
    </label>
    <label>
        <input value="" name="sPass" type="text"/>
    </label>
    <input value="" name="submit" type="submit"/>
</form>-->

<!--教师登陆-->
<!--<form method="post" action="/submitTeacherLogin">
    <label>
        <input value="" name="tName" type="text"/>
    </label>
    <label>
        <input value="" name="tPass" type="text"/>
    </label>
    <input value="" name="submit" type="submit"/>
</form>-->

<!--管理员登陆-->

<!--<form method="post" action="/submitAdminLogin">
    <label>
        <input value="" name="tName" type="text"/>
    </label>
    <label>
        <input value="" name="tPass" type="text"/>
    </label>
    <input value="" name="submit" type="submit"/>
</form>-->

<!--<form method="post" action="/updateUserAccount">
    <label>
        <input value="" name="tName" type="text"/>
    </label>
    <label>
        <input value="" name="tPass" type="text"/>
    </label>

    <label>
        <input value="1" name="tIsAdmin" type="text"/>
    </label>

    <input value="" name="submit" type="submit"/>
</form>-->

<!--<form method="post" action="/insertSystemConfigure">
    <label>
        <input value="" name="sExamTime" type="text"/>
    </label>
    <label>
        <input value="" name="sPageCount" type="text"/>
    </label>

    <label>
        <input value="1" name="maxUploadSize" type="text"/>
    </label>

    <label>
        <input value="1" name="minUploadSize" type="text"/>
    </label>

    <label>
        <input value="1" name="manualOpenTime" type="text"/>
    </label>

    <input value="" name="submit" type="submit"/>
</form>-->


<form method="post" action="/updateDirtyData">
    <label>
        <input value="" name="sSno" type="text"/>
    </label>
    <label>
        <input value="" name="sName" type="text"/>
    </label>
    <label>
        <input value="" name="sPass" type="text"/>
    </label>
    <label>
        <input value="" name="sClassId" type="text"/>
    </label>
    <input value="" name="submit" type="submit"/>
</form>

<a href = "/downloadPaper?fileName=test.txt">下载文件</a>

<script>
    var socket;
    if(typeof(WebSocket) == "undefined") {
        console.log("unSupport WebSocket");
    }else{
        console.log("support WebSocket");

        socket = new WebSocket("ws://localhost:8080/socket/20");

        socket.onopen = function() {
            console.log("Socket opened");
        };

        socket.onmessage = function(msg) {
            console.log(msg.data);
        };

        socket.onclose = function() {
            console.log("Socket closed");
        };

        socket.onerror = function() {
            alert("Socket encounter fault");
        }
    }
</script>

</body>
</html>