<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.examine.dao.ExamMapper">

    <resultMap id="examBaseMapper" type="com.examine.domain.TExam">
        <id property="id" column="id"/>
        <result property="examName" column="exam_name"/>
        <result property="examStartTime" column="exam_start_time"/>
        <result property="tName" column="t_name"/>
        <result property="examPaperUrl" column="exam_paper_url"/>
        <result property="isAutoStart" column="is_auto_start"/>
        <result property="isStart" column="is_start"/>
        <result property="isPigeonhole" column="is_pigeonhole"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isFinished" column="is_finished"/>
    </resultMap>

    <!--已改-->
    <update id="nonphysicalDeleteOneExamById" parameterType="Integer">
         update
         t_exam
         set
         is_delete = 1
         where
         id = #{id};
    </update>

    <insert id="saveExaminationInfo" parameterType="com.examine.domain.TExam"
            useGeneratedKeys="true" keyProperty="id">
        insert
        into t_exam(
           exam_name,
           exam_start_time,
           t_name,
           is_auto_start
        )values (
           #{examName},
           #{examStartTime},
           #{tName},
           #{isAutoStart}
        )
    </insert>

    <!--改-->
    <update id="uploadExamPaper" parameterType="Map">
        update
        t_exam
        set exam_paper_url = #{examPaperUrl}
        where
        exam_name = #{examName}
    </update>

    <!--已改-->
    <update id="stopOneExamById" parameterType="Integer">
        update  t_exam set is_start = 0, is_finished = 1 where id = #{id};
    </update>

    <!--已改-->
    <update id="clearExam">
        update t_exam set is_delete = 1 where is_delete = 0 and is_start = 0 and is_finished = 1
    </update>

    <select id="selectAllExamInfo" resultMap="examBaseMapper">
         select * from t_exam
    </select>

    <select id="selectOneExamInfoById" parameterType="Integer" resultMap="examBaseMapper">
        select * from t_exam where id=#{id}
    </select>

    <update id="updateExamInfo" parameterType="com.examine.domain.TExam">
        update t_exam
        <set>
            <if test="examName != null">
                exam_name = #{examName},
            </if>
            <if test="examStartTime != null">
                exam_start_time = #{examStartTime},
            </if>
            <if test="isAutoStart != null">
                is_auto_start = #{isAutoStart}
            </if>
        </set>
        where id = #{id};
    </update>

    <select id = "selectExamInfoByTName" parameterType="String" resultMap="examBaseMapper">
        select * from t_exam where t_name = #{tName} and is_delete = 0
    </select>

    <update id="startExamById">
         update
           t_exam
         set
           is_start = 1
         where
            id = #{id}
         and
            is_delete = 0
    </update>

</mapper>
