<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.examine.dao.StudentMapper" >

    <resultMap id="studentBaseMap" type="com.examine.domain.TStudent">
        <id property="id" column="id"/>
        <result property="sSno" column="s_sno"/>
        <result property="sName" column="s_name"/>
        <result property="sPass" column="s_pass"/>
        <result property="sClassId" column="s_class_id"/>
        <result property="sScoreName" column="s_score_name"/>
        <result property="sIsDelete" column="s_is_delete"/>
    </resultMap>

    <select id = "selectStudentPasswordByUsername" parameterType="String" resultType = "String">
        select s_pass from t_student where s_sno=#{sSno}
    </select>

    <select id = "selectIpAddressByUsername" parameterType="String" resultType="String">
        select s_login_address from t_submit where s_sno = #{sSno}
    </select>

    <select id = "selectStudentEntityByUsername" parameterType="String" resultMap="studentBaseMap">
        select * from t_student where s_sno = #{sSno}
    </select>

    <update id="nonphysicalDeleteStudents">
        update t_student set s_is_delete = 1
    </update>

</mapper>
