<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.examine.dao.SubmitMapper">

    <resultMap id="submitBaseMap" type="com.examine.domain.TStudent">
        <id property="id" column="id"/>
        <result property="sSno" column="s_sno"/>
        <result property="sName" column="s_name"/>
        <result property="sPass" column="s_pass"/>
        <result property="sClassId" column="s_class_id"/>
        <result property="sScoreName" column="s_score_name"/>
        <result property="sIsDelete" column="s_is_delete"/>
        <result property="lastSubmit" column="g_gmt_create"/>
    </resultMap>
    <resultMap id="submitResultMap" type="com.examine.domain.TSubmit">
        <result property="createTime" column="g_gmt_create"/>
        <result property="examPaper" column="s_exam_paper"/>
        <result property="sFileSize" column="s_file_size"/>
    </resultMap>

    <insert id="insertStudentLoginMessage" parameterType="Map">
          insert
            into t_submit(
               s_sno,
               g_gmt_create,
               s_login_address,
               exam_Id
            )
          values (
               #{sName},
               now(),
               #{ipAddress},
               #{examId}
          )
    </insert>

    <update id="nonphysicalDeleteAllSubmit" parameterType="Integer">
         update
         t_submit
         set s_is_delete = 1
         where exam_Id = #{Id}
    </update>

    <select id="studentSubmitInfo" resultMap="submitBaseMap">
        select
          tst.s_class_id,
          tst.s_sno,
          tst.s_name,
          tsu.g_gmt_create
        from
          t_student as tst
        left join
          t_submit as tsu
        on
          tst.s_sno = tsu.s_sno
        where
        tst.s_is_delete = 0
    </select>

    <select id = "downloadSubmitZip" resultType="String">
        select s_exam_paper from t_submit where s_is_delete = 0
    </select>

    <delete id = "doUnbinding" parameterType="String">
        delete from t_submit where s_sno = #{sSno}
    </delete>
    <update id="finishedPageOnHole" parameterType="Integer">
      update t_exam set is_pigeonhole = 1 where id = #{id}
    </update>
    <!--查询出提交结果-->
    <select id="selectSubmitResult" parameterType="Map" resultMap="submitResultMap">
        select * from t_submit where s_sno = #{sno} and exam_Id = #{examId} and s_is_delete = 0
    </select>
</mapper>
