<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.examine.dao.SubmitMapper" >
    <insert id = "insertStudentLoginMessage" parameterType="Map">
          insert
            into t_submit(
               s_sno,
               g_gmt_create,
               s_login_address
            )
          values (
               #{sName},
               now(),
               #{ipAddress}
          )
    </insert>
</mapper>
